{% extends "base.html" %}
{% block content %}
    <div class="Malin">
        <h2>Malin Erik Hasler</h2>
        <p>This is a biography about Malin Erik Hasler. So as you already see His name is Malin Erik not
            just Malin but better call him Malin if you don't want that he gets mad at you. Than next thing
            you have to know about him is that he loves Geographics because it's so interesting and fun but 
            he hates maths because it's just so complicated and he can't handle the numbers and the porabolas.
            So the last thing you have to know about me is that when I want to be alone I go to the forrest
            alone just me and the world in the forrest.</p>
        <p>Click on <a href="/question">this</a> to start the quiz.</p>
{% endblock %}
